<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="grupi">
    <meta name="Description" content="BookStore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageAPI - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
</head>
<body>
    <main>
        <div class="title-info">
            <!-- Clickable PageAPI title that goes to home -->
            <a href="{{ url_for('index') }}" class="logo-link">
                <h1>PageAPI</h1>
            </a>
            <p>Kyçuni në llogarinë tuaj</p>
        </div>
        <form action="{{ url_for('login') }}" method="POST" class="user-form">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Fjalëkalimi" required>
            <button type="submit">Kyçuni</button>
        </form>
        <p class="info">Nuk keni llogari? <a href="{{ url_for('signup') }}">Regjistrohuni</a></p>
    </main>
</body>
</html>
