<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regjistrohu | PageAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign.css') }}">
</head>
<body>
    <main>
        <div class="title-info">
            <a href="{{ url_for('index') }}" class="logo-link">
                <h1>PageAPI</h1>
            </a>
            <p>Krijo llogarinë tënde</p>
        </div>

        <form action="{{ url_for('signup') }}" method="POST" class="user-form">
            <input type="text" id="name" name="name" placeholder="Emri" required>
            <input type="text" id="surname" name="surname" placeholder="Mbiemri" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Fjalëkalimi" required>
            <button type="submit">Vazhdoni</button>
        </form>

        <p class="info">Posedoni një llogari? <a href="{{ url_for('login') }}">Kyçuni</a></p>
    </main>
</body>
</html>
